<footer class="site__footer">
<p>Diese Seite wurde von <a href="https://grochtdreis.de">Jens Grochtdreis</a> zusammengestoppelt. <br>Sie basiert auf dem Statischen Seitengenerator <a href="https://11ty.dev">Eleventy (11ty)</a> und nutzt das Template <a href="https://github.com/philhawksworth/eleventyone">EleventyOne</a> von <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>. </p>
</footer>
