<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}
      {{ content | safe }}

    {% if rec %}
      <div class="card">
        <div class="card__header">
          <h2 class="card__headline">Rezeptlinks</h2>
        </div>
        <div class="card__body">
          <ul class="listing">
            {%- for page in rec -%}
            <li>
              <a href="{{ page.url }}">{{ page.title }}</a>{% if page.note %} <span class="listing__note">- {{page.note}}</span>{% endif %}
            </li>
        {%- endfor -%}
          </ul>
        </div>
        
      </div>
      {% endif %}
      {% include "footer.njk" %}
    </div>

  </body>
</html>



