@import '_variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $accent-color;
  font-size: 16px;
}

body {
  text-align: center;
  background-color: $page-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25;
  min-height: 100vh;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;

  @media (min-width: $wide) {
    width: 1000px;
  };
}

/* ==== Allgemeine Textformatierungen === */
h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom:0.2em;
  line-height: 1;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5;

  a {
    color: $myred;
  }
  a:hover, a:focus {
    text-decoration: none;
  }
}

ul, ol {
  padding-left: 1em;
}

/* ==== Der Header der Seite === */
.site__header {
  margin-bottom: 60px;
}
.subtitle {
  font-size: 1.75em;
  color: $subtitle-color;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  margin-top:0.4em;
  margin-bottom:0.2em;
  line-height: 1;
  color: $h1-color;

  @media (min-width: $mid) {
    font-size: 3.5em;
  };
  @media (min-width: $wide) {
    font-size: 4em;
  };

  background-color: $h1-bgcolor;
  padding: 0.5em;
  border-left: 10px solid $h1-bordercolor;
}


/* ==== Die Navigation === */
.nav {
  padding-top: 3em;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: mix($text-color, $accent-color, 40%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 9em;
    text-align: left;
    color: mix($text-color, $accent-color, 80%);
    text-decoration: none;
  }
  a:hover,
  a:focus {
      color: $text-color;
      border-top-color: $text-color;
      border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color,$accent-color, 60%);
  }

  a.active {
    border-top-color: $myred;
    border-top-width: calc(0.2em + 1px);
    padding-top: 0.6em;
  }
}



/* ==== Hauptinhalt === */
main {
  margin-top: 4em;
}

/* ==== Grid auf der Startseite === */
.index-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

/* ==== Button === */
.btn-cnt {
  text-align: center;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color: #666;
  color: #fff;
  border-radius: 6px;
  font-size: 1.25rem;
}

.btn--warning {
  background-color: #B71C1C;
}

/* ==== CARD === */
.card {
  background-color: #fafafa;
  border-radius: 6px;
  overflow: hidden;
}
.card__header {
  background-color: #0277BD;
  padding: 10px 25px;
}
.card__headline {
  margin-top: 0;
  color: #fff;
}
.card__body {
  padding: 0 10px;
}

/* ==== Listing === */

.listing {
  margin: 10px 0;
  color: #0277BD;

  li {
    margin-bottom: 10px;
  }

  a {
    color: #0277BD;
    border-bottom-color: #0277BD;
  }

  a:hover,
  a:focus {
    border-bottom-color: transparent;
  }
}

/* ==== Footer der Seite === */
.site__footer {
  margin-top: 2em;
  padding-top: 0.5em;
  padding-bottom: 6em;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: mix($text-color, $accent-color, 10%);
  color: mix($text-color, $accent-color, 50%);
  line-height: 1.5;
  
  a:link,
  a:visited {
    color: mix($text-color, $accent-color, 90%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }

  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
}

/* === Impressum === */

.adresslist {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    display: inline-block;
  }

  li:after {
    content: ", ";
    display: inline-block;
    margin-right: 4px;
  }
}
